/* Change List */
.locking-status.locked,
.locking-status.editing {
    display: block;
    width: 14px;
    height: 14px;
    background: transparent url('../img/icons.svg') no-repeat 0 0;
    background-size: 100%;
}
.locking-status.unlocked {
    display: none;
}
